﻿@model IEnumerable<DataLayer.ViewModels.EstateViewModel>

@{
    ViewData["Title"] = "لیست املاک";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    <a asp-action="Create">ایجاد ملک جدید</a>
</p>
<table class="table">
    <thead>
        <tr>
         
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OwnerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.EstateId">ویرایش</a> |
                <a asp-action="Details" asp-route-id="@item.EstateId">جزئیات</a> |
                <a asp-action="Delete" asp-route-id="@item.EstateId">حذف</a>
            </td>
        </tr>
}
    </tbody>
</table>
